# 現状typescriptと相性が悪すぎると感じた。reference errorを解消するだけですごいコストがかかる
node-linker=hoisted

engine-strict=true
strict-peer-dependencies=false
auto-install-peers=true

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types*
public-hoist-pattern[]=*prisma*